@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --theme-color :#2A6877 ;
    --bg-color: #C6D8E4 ;
}

.theme-text-color {
    color: var(--theme-color);
}

.theme-bg-color {
    background-color: var(--theme-color);
}

.theme-border-color {
    border-color: var(--theme-color);
}

.navLinks li.active{
    background-color: var(--theme-color);
    color: #fff;
}

body {
    background-color: var(--bg-color);
}